body { font-family: Arial; margin:0; background:#fff7e6; }
header { background:#ff9933; color:white; padding:15px; text-align:center; }
.gallery img { width:150px; margin:5px; border-radius:8px; }
.btn { background:green; color:white; padding:10px; display:inline-block; text-decoration:none; }
.message { padding:15px; text-align:center; }
#banner img { width:100%; max-height:300px; object-fit:cover; }
