body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: orange;
  color: white;
  text-align: center;
  padding: 15px;
}

.card {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.profile {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.message {
  font-size: 16px;
  margin: 15px 0;
}

.btn {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 90%;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
}

.whatsapp {
  background: #25D366;
}

.facebook {
  background: #1877F2;
}

/* Gallery */
#gallerySection {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery img {
  width: 150px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
